<header>
  <div class="main-header-div header-border">
    <div class="title-div">
      <h2>БЛОГ</h2>
      <span>Имя Фамилия</span>

    </div>
    <nav class="header-nav">
      <ul class="header-ul">

        <li class="nav-item">
          <a class="nav-link my-link 
          {% if request.resolver_match.url_name == '' %} activel {% endif %}" 
          href="{% url 'posts:list' %}"> Публикации </a>
        </li>

        <li class="nav-item">
          <a class="nav-link my-link 
          {% if request.resolver_match.url_name == 'add' %} activel {% endif %}" 
          href="{% url 'posts:add' %}"> Создать публикацию </a>
        </li>

        <li class="nav-item">
          Выйти
        </li>

      </ul>
    </nav>
  </div>
</header>