{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Playfair+Display:wght@700&family=Raleway:wght@600&family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
  </head>
  <body>
    {% include "includes/header.html" %}
    <div class="main-div border">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>