{% extends "base.html" %}
{% block content %}
  <div class="card">

      <!--Аватар и юзернейм-->
      <div class="user-info">
        <a
          {% if user == post.author %} href="{% url 'posts:my_profile' %}"
          {% else %} href="{% url 'posts:profile' user_slug=post.author.slug %}"
          {% endif %}
        >
          <img src="{{ post.author.avatar.url }} " class="avatar-post">
          <span> {{ post.author.username }}</span>
        </a>
      </div>

      <!--Название публикации-->
      <h3 class="text-color">
        <a class="title-link" href="{% url 'posts:detail' post_id=post.pk %}">
          {{ post.title }}
        </a>
      </h3>

      <!--Картинка-->
      {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="image-container">
      {% endif %}

      <!--Текст комментария-->
      {% if post.text %}
        <p class="post-text">
          {{ post.text }}
        </p>
      {% endif %}

      <!--Кнопки редактирования и удаления-->
      {% if user == post.author %}
        <div class="post-buttons">
          <div class="edit-button">
            <a href="{% url 'posts:update' post_id=post.pk %}"> Редактировать </a>
          </div>
          <div class="delete-button">
            <a href="{% url 'posts:delete' post_id=post.pk %}"> Удалить </a>
          </div>
        </div>
      {% endif %}

      <!--Дата Создания/Обновления-->
      <small>
        <p class="text-gray"> Создан: {{ post.created_at|date:"d.m.Y H:i" }}<br>
          {% if post.created_at != post.updated_at %}
          Обновлен: {{ post.updated_at|date:"d.m.Y H:i" }}
          {% endif %}
        </p>
      </small>

      <section class="comments-section">
        <!--Количество комментариев-->
        {% if post.comments.count > 0 %}
          <p> Комментарии: {{ post.comments.count }} </p>
          <hr class="separator-main background-gray">
        {% endif %}

        <!--Форма для добавления комментариев-->
        {% if user.is_authenticated %}
          <div class="comment-form-div">
            <img src="{{ user.avatar.url }}" class="avatar-comment-form">
            <form method="post" class="comment-form" action="{% url 'posts:add_comment' post_id=post.pk %}">
              {% csrf_token %}
              {{ form }}
              <input class="comment-submit" type="submit" value="Отправить">
            </form>
          </div>
        {% endif %}

        <!--Комментраии-->
        <div>
          {% for comment in post.comments.all %}
            <div class="comment-main-div">
              <p class="comment-author-info">
                <img src="{{comment.author.avatar.url }}" class="avatar-comment">
                <span> {{ comment.author.username }} </span>
              </p>
              <p class="comment-text">
                {{ comment.text }}
              </p>
            </div>
          {% endfor %}
        </div>
        

        <!--Пагинация для комментариев-->
      </section>
    
    </div>
{% endblock %}