{% extends "base.html" %}
{% block content %}
  <h2>
    {% if request.resolver_match.view_name == 'posts:add' %}
      Добавить
    {% else %}
      Редактировать
    {% endif %}
    публикацию
  </h2>
  <form class="post-form main-font border" method="post">
    {% csrf_token %}
    {% comment %} {% include "includes/errors.html" %} {% endcomment %}
      {% for field in form %}
        <div class="control-group">
          <label class="control-label">{{ field.label }}</label>
          <div class="controls">
            {{ field }}
            {% if field.help_text %}
              <p class="help-inline"><small>{{ field.help_text }}</small></p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    <div class="form-btn-div">
      <button type="submit" class="form-btn" >Сохранить</button>
    </div>
  </form>
{% endblock %}