{% extends "base.html" %}
{% block content %}
      {% for post in page_obj %}
        <div class="card main-font">
          <h3>{{ post.title }}</h3>
          <p>{{ post.text }}</p>
          <small>
            <p>Создан: {{ post.created_at|date:"d.m.Y H:i" }}<br>
              {% if post.created_at != post.updated_at %}
              Обновлен: {{ post.updated_at|date:"d.m.Y H:i" }}
              {% endif %}
            </p>
          </small>
        </div>
      {% endfor %}
{% endblock %}