/*Текст*/

.text-white {
    color: #F5FFFA;
}

.text-gray {
    color: #546575;
}

.text-color {
    color: #7FC7FF;
}


/*Фон*/
.background-gray {
    background-color: #2a323b;
}

.background-color {
    background-color: #7FC7FF;
}


/*Бордеры*/
/* .card-border {
    border: 2px solid #546575;
} */

.button-border {
    border: 5px solid #546575;
}