.separator-main{
    border: none;
    height: 1px;
}

.comment-main-div {

}

.comment-author-info {
    display: flex;
    align-items: center;
    column-gap: 2%;
}

.comment-text {
    font-size: 80%;
}
