.post-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 5% 3% 3% 5%;
    color: var(--white);
    background-color: var(--black);
}

.control-group {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.form-title {
    text-align: center;
    font-style: italic;
    color: var(--white);
}

.post-textarea,
.comment-textarea,
input[type="text"] {
    resize: none;
    box-sizing: border-box;
    background-color: var(--dark-gray);
    color: var(--white);
    border-radius: var(--btn-border-radius);
    flex: 1;
    min-width: 0;
    width: 100%;
    padding: 10px;
    border: none;
    box-shadow: 0 0 3px 0 var(--gray);
    outline: none;
}

.post-textarea:focus,
.comment-textarea:focus,
input[type="text"]:focus {
    border: 1px solid var(--main-color);
}

.controls {
    box-sizing: border-box;
}

input[type="submit"],
button[type="submit"] {
    padding: 2% 5%;
    background-color: var(--gray_2);
    border-radius: var(--btn-border-radius);
    color: var(--white);
    border: none;
    cursor: pointer;
    white-space: nowrap; /* Текст не переносится */
    flex-shrink: 0; /* Не сжимается */
}

input[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: var(--main-color-hover);
    color: var(--main-color);
}

input[type="submit"]:active,
button[type="submit"]:active {
    background-color: var(--main-color-hover);
    color: var(--main-color);
    font-size: 0.8rem;
}
