.main-header-div {
    display: flex;
    align-items: center;
    padding: 0 10% 0 20%;
    height: 15%;
    background-color: #151719;
    color: #F5FFFA;
    font-family: 'Anonymous Pro';
    font-size: 18px;
}

.title-div {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 50%;
}

.header-nav {
    width: 50%;
}

.header-ul {
    list-style: none;
    display: flex;
    gap: 5%;
}

.header-border {
    border: 1px solid #546575;
}