.avatar-post {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.avatar-comment {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.avatar-comment-form {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}