:root {
    --black: #151719;
    /* --dark-gray: #1e242b; */
    --dark-gray: #181d23;
    --gray: #546575;
    --gray_2: #2a323b;
    --main-color: #a8e6cf;
    --main-color-dark: #196b4d;
    --main-color-hover: rgba(168, 230, 207, 0.1);
    --main-color-active: rgba(168, 230, 207, 0.05);
    --main-color-shadow: #066b46;
    /* --white: #e8eee8; */
    --white: #c3c7c3;
    --font-family: 'Fira Code', 'Consolas', monospace;
    --btn-border-radius: 7px;
}