.main-font {
    color: #F5FFFA;
    font-family: 'Anonymous Pro';
    font-size: 18px;
}

.border {
    border: 1px solid white;
}

body {
    margin: 0;
}

.main-div {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    padding-left: 35%;
}

.list-block {
    display: flex;
    justify-content: center;
    width: 40%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    width: 100%;
}

.card {
    width: 100%;
    border-radius: 20px;
    word-break: break-all;
    padding: 0 5% 0% 5%;
    
}

.card h3 {
    
}

.card a {
    color: inherit;
    text-decoration: none;
}

small p {
    text-align: right;
    font-size: 80%;
}

.post-text {
    font-size: 80%;
}

.image-container {
    max-width: 100%;
    overflow: hidden;
}

.avatar-post {
    border-radius: 50%;
    height: 10%;
    width: 10%;
}

.avatar-comment {
    border-radius: 50%;
    height: 10%;
    width: 10%;
}